<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../public/CSS/style.css">
</head>
<body>
    <main>
        <div class="row">
            <div class="row_child1">
                <h2>Weather App - Bhavesh Batra</h2>
            </div>
            <form action="">
                <div class="searchDiv">
                    <input type="search" name="Weather" id="searchBox" placeholder="Enter City Name">
                    <img src="../public/images/searchICON.png" id="searchIcon" alt="searchICON">
                </div>
            </form>
        </div>

        <div id="weather" class="weatherDiv">
              
        </div>
    </main>
    <script src="../public/JS/script.js"></script>
</body>
</html>